---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 2
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
SpacesInAngles: true
AlignAfterOpenBracket: true
AlwaysBreakTemplateDeclarations: true
SpaceBeforeParens: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: All
BreakConstructorInitializersBeforeComma: true
#PenaltyReturnTypeOnItsOwnLine: 10
#AlwaysBreakAfterDefinitionReturnType: None
#AlwaysBreakAfterReturnType: None
BinPackArguments: false
BinPackParameters: false
DisableFormat: false
...
